body { 
    background-color: rgb(236, 233, 228);
}

h1 {
    font-size: 30px;
    text-align: center;
}

p {
    text-align: center;
    color:rgb(70, 6, 66);
    font-size: 20px;
}

.textorosa{
    color: deeppink;
}

.textoroxo{
    color: purple;
}

.imgcentro{
    margin: auto;
    display: flex;
    border-radius: 50px;
    border: solid 3px  deeppink;
}