body { 
    background-color: rgb(236, 233, 228);
}

h1 {
    font-size: 30px;
    text-align: center;
}

p {
    text-align: justify;
    color:rgb(213, 52, 79);
    font-size: 20px;
}

.textorosa{
    color: deeppink;
    text-align: justify;
}

.textoroxo{
    color: purple;
    text-align: justify;
}

.imgcentro{
    margin: auto;
    display: flex;
    border-radius: 50px;
    border: solid 3px  deeppink;
}